node_modules/
dist/
.DS_Store
npm-debug.log*
src-tauri/target/
src-tauri/icons/ios/
src-tauri/icons/android/
src-tauri/icons/Square*.png
src-tauri/icons/StoreLogo.png
src-tauri/icons/64x64.png
src-tauri/icons/icon.ico
src-tauri/icons/icon.png
